$primaryColor: #0d253f;
$seconderyColor: #01b4e4;
$tertiaryColor: #90cea1;

// Start Owl Carousel
.owl-theme .owl-dots .owl-dot span {
  background: $seconderyColor;
}
.owl-carousel .owl-item img {
  border-radius: 10px;
  height: 230px;
  width: 95%;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $primaryColor;
}
.owl-carousel.owl-drag .owl-item {
  // margin-right: 5px;
}
.owl-carousel .owl-stage-outer {
  height: 300px;
  // overflow: visible;
}
// End Owl Carousel
