<section class="hero-sec" [style.background-image]="bgHero">
  <div class="overlay">
    <div class="container">
      <div class="hero-content">
        <div class="row">
          <div class="welcom">
            <h2>Welcome.</h2>
            <p>
              Millions of movies, TV shows and people to discover. Explore now.
            </p>
          </div>
        </div>
        <div class="row search-row">
          <div class="search">
            <input
              class="inpt"
              placeholder="Search for a movie, tv show, person......"
              type="text"
            />
            <button class="btn-search btn">search</button>
          </div>
        </div>
      </div>
      <!-- <div class="search-box">
        <div class="search-bar">
          <i class="fa fa-search icon-form"></i>
          <input
            class="search-form fst-italic"
            type="text"
            placeholder="Search for a movie, tv show, person.... "
          />
        </div>
      </div> -->
    </div>
  </div>
</section>
