<section class="hero-sec" [style.background-image]="bgHero">
  <div class="overlay">
    <div class="container">
      <div class="hero-content">
        <div class="row">
          <div class="welcom">
            <h2>Welcome.</h2>
            <p>
              Millions of movies, TV shows and people to discover. Explore now.
            </p>
          </div>
        </div>
        <div class="row search-row">
          <div class="search">
            <input
              class="inpt"
              placeholder="Search for a movie, tv show, person......"
              type="text"
            />
            <button class="btn-search btn">search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section Trending -->
<section class="trinding-movies pt-3">
  <div class="container">
    <div class="header d-flex align-items-center">
      <h2>Trending</h2>
      <div class="time my-3 ms-2">
        <button
          [ngClass]="{
            'active-btn': isBtnTodayActive,
            'inActive-btn': !isBtnTodayActive
          }"
          (click)="toggelBtns(true)"
          class="btn today"
        >
          Today
        </button>
        <button
          [ngClass]="{
            'active-btn': !isBtnTodayActive,
            'inactive-btn': isBtnTodayActive
          }"
          (click)="toggelBtns(false)"
          class="btn toweek"
        >
          This Week
        </button>
      </div>
    </div>
    <app-home-carousel [trendingMovies]="trendingMovies"></app-home-carousel>
  </div>
</section>
