@import "../../styles.scss";

// Hero Section
.hero-sec {
  height: 300px;
  margin-top: -10px;
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-sec .overlay {
  height: 100%;
  z-index: 99999;
  background-color: #0e00009c;
}
.hero-sec .welcom {
  text-align: center;
  margin-top: 40px;
}
.hero-sec .hero-content h2 {
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 3rem;
}
.hero-sec .hero-content p {
  font-size: 1.2rem;
  padding-top: 20px;
  padding-bottom: 30px;
}
.hero-sec .search-row {
  position: relative;
}
.hero-sec .search {
  background-color: #fbfbfbdb;
  border: solid 1px black;
  margin: auto;
  width: 96%;
  border-radius: 25px;
  height: 50px;
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  right: 0;
  align-content: center;
}
.hero-sec .inpt {
  background-color: transparent;
  width: 90%;
  border: none;
  outline: none;
  padding-left: 40px;
}

.hero-sec .btn-search {
  background-color: $seconderyColor;
  color: #fff;
  border-radius: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 100px;
}
// End Hero Section

// Home Carousel
.trinding-movies {
  background-color: #ebe6e6;
}
.trinding-movies .time {
  border: solid 1px black;
  border-radius: 25px;
}
.trinding-movies .time button {
  border-radius: 25px;
}
.trinding-movies .time .inactive-btn {
  background-color: #ebe6e6;
  color: black;
  border: none;
}
.trinding-movies .time .active-btn {
  background-color: $primaryColor;
  color: $tertiaryColor;
  font-weight: bold;
  border: 1px solid $tertiaryColor;
}
