<form
  class="register-form mb-5 w-50 m-auto"
  [formGroup]="registerForm"
  (ngSubmit)="submitRegisterForm(registerForm)"
>
  <h4>Sign up for an account</h4>
  <p>
    Signing up for an account is free and easy. Fill out the form below to get
    started. JavaScript is required to to continue.
  </p>
  <div class="form-group">
    <div class="user-name inpt">
      <label for="Username">Username</label>
      <input
        formControlName="first_name"
        type="text"
        name=""
        id="Username"
        class="form-control"
        placeholder="Enter your firstname"
      />
      <div
        *ngIf="
          registerForm.get('first_name')?.errors != null &&
          registerForm.get('first_name')?.touched
        "
        class="validation alert my-1 alert-danger"
      >
        <p *ngIf="registerForm.get('first_name')?.errors?.['required']">
          Username is required
        </p>
        <p *ngIf="registerForm.get('first_name')?.errors?.['minlength']">
          Username must be minLength 6
        </p>
        <!-- {{ registerForm.errors | json }} -->
      </div>
    </div>
    <div class="last-name inpt">
      <label for="Lastname">Lastname</label>
      <input
        formControlName="last_name"
        type="text"
        name=""
        id="Lastname"
        class="form-control"
        placeholder="Enter your lastname"
      />
      <div
        *ngIf="
          registerForm.get('last_name')?.errors != null &&
          registerForm.get('last_name')?.touched
        "
        class="validation alert my-1 alert-danger"
      >
        <p *ngIf="registerForm.get('last_name')?.errors?.['minlength']">
          Lastname must be minLength 6
        </p>
      </div>
    </div>
    <div class="age inpt">
      <label for="Age">Age</label>
      <input
        formControlName="age"
        type="number"
        name=""
        id="Age"
        class="form-control"
        placeholder="Enter your age"
      />
      <div
        *ngIf="
          registerForm.get('age')?.errors != null &&
          registerForm.get('age')?.touched
        "
        class="validation alert my-1 alert-danger"
      >
        <p
          *ngIf="
          registerForm.get('age')?.errors?.['required']"
        >
          Age is required
        </p>
        <p
          *ngIf="
          registerForm.get('age')?.errors?.['min']"
        >
          Age must be min 16 years
        </p>
      </div>
    </div>
    <div class="email inpt">
      <label for="Email">Email</label>
      <input
        formControlName="email"
        type="email"
        name=""
        id="Email"
        class="form-control"
        placeholder="Enter your email"
      />
      <div
        *ngIf="
          registerForm.get('email')?.errors != null &&
          registerForm.get('email')?.touched
        "
        class="validation alert my-1 alert-danger"
      >
        <p *ngIf="registerForm.get('email')?.errors?.['required']">
          Email is required
        </p>
        <p *ngIf="registerForm.get('email')?.errors?.['email']">
          Email not valid!
        </p>
      </div>
    </div>
    <div class="password inpt">
      <label for="Password">Password</label>
      <input
        formControlName="password"
        type="password"
        name=""
        id="Password"
        class="form-control"
        placeholder="Enter your password"
      />
      <div
        *ngIf="
          registerForm.get('password')?.errors != null &&
          registerForm.get('password')?.touched
        "
        class="validation alert my-1 alert-danger"
      >
        <p *ngIf="registerForm.get('password')?.errors?.['required']">
          Password is required
        </p>
        <p *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Password must be minLength 6
        </p>
      </div>
    </div>
  </div>
  <button
    [disabled]="registerForm.invalid"
    class="btn btn-sign btn-secondary mx-2"
    type="submit"
  >
    Sign Up
  </button>
  <button class="btn btn-cancel btn-danger" routerLink="/home">Cancel</button>
</form>
